@model Theater_hotspot.Models.Person
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<h1 class = 'topics'> Vul uw gegevens in!</h1>

<p1 class= 'subtopic'> Als u hier de gevraagde gegevens invult zullen wij so spoedig mogelijk contact met u opnemen!</p1><br /><br />

<form method="post">
    Voornaam:<input type="text" name="voornaam"/> 
    @Html.ValidationMessageFor(m => m.Voornaam) <br/>
    Achternaam: <input type="text" name="achternaam"/> 
    @Html.ValidationMessageFor(m => m.Achternaam) <br/>
    Email: <input type="text" name="email"/> 
    @Html.ValidationMessageFor(m => m.Email) <br/>
    Telefoon:<input type="text" name="telefoon"/> <br/> 
    Adres:<input type="text" name="adres"/>  
    @Html.ValidationMessageFor(m => m.Beschrijving) <br/>
    Beschrijving:<input type="text" name="beschrijving"/> <br/> 
    <input type="submit" value="verstuur"/>
</form>

@if (Model != null)
{
  <p>Hallo @Model.Voornaam die achternaam @Model.Achternaam heeft</p>
}




<h1 class = 'topics'> Ernstige problemen met de website? </h1>

<p1 class = 'subtopic'> Neem zo spoedig contact op met de website ontwerpers! </p1>

<h1 class = 'topics'> Ernstige problemen met het theater? </h1>

<p1 class = 'subtopic'> Neem zo spoedig contact op met de theater eigenaren!</p1>
