@model Theater_hotspot.Models.Person
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<h1 class = 'topics'> Vul uw gegevens in!</h1>

<p1 class= 'subtopic'> Als u hier de gevraagde gegevens invult zullen wij so spoedig mogelijk contact met u opnemen!</p1><br /><br />

<form method="post">
    Voornaam:<br />
    <input type="text" name="voornaam"/> 
    @Html.ValidationMessageFor(m => m.Voornaam) <br/>
    Achternaam: <br />
    <input type="text" name="achternaam"/> 
    @Html.ValidationMessageFor(m => m.Achternaam) <br/>
    Email:<br />
    <input type="text" name="email"/> 
    @Html.ValidationMessageFor(m => m.Email) <br/>
    Telefoon:<br />
    <input type="text" name="telefoon"/> <br/> 
    Adres:<br />
    <input type="text" name="adres"/>  
    @Html.ValidationMessageFor(m => m.Beschrijving) <br/>
    Beschrijving:<br />
    <input type="text" name="beschrijving"/> <br/> 
    <input type="submit" value="verstuur"/>
</form>

@if (Model != null)
{
  <p>Hallo @Model.Voornaam @Model.Achternaam !</p>
}




<h1 class = 'topics'> Ernstige problemen met de website? </h1>

<p1 class = 'subtopic'> Neem zo spoedig contact op met de website ontwerpers! </br>
    Meaghan Kramer: 110712@st-maartenscollege.nl <br />
    Amber van Riet: 110250@st-maartenscollege.nl</p1>

<h1 class = 'topics'> Ernstige problemen met het theater? </h1>

<p1 class = 'subtopic'> Neem zo spoedig contact op met de theater eigenaren! <br />
    Harry Styles: +31 6 76 45 20 45 <br />
    Olivia Wilde: +31 6 96 32 13 57
</p1>
