@using Theater_hotspot.Databases
@model Voorstelling
@{
    ViewData["Title"] = "Voorstellingen";
}

<div class="voorstellinginfo">
   <div class=titel>
        <h1>@Model.Titel</h1>
   </div> 

    <p>@Model.Beschrijving</p>

    <div class="voorstellingdisplay">
        <div class="info">
            <p>@Html.Raw(Model.Informatie)</p>
        </div>
        <div class="sidepic">
            <div class="afbeelding" style="background-image:url(@Model.Plaatje)"></div>
        </div>
   </div>      
    <p> De eerst volgende datum waarop deze voorstelling draaitop :</p>
    <p class="data">@Model.Volgendedatum</p>
    <p>De einddatum van deze voorstelling:</p>
    <p class="data">@Model.Einddatum</p>
     
</div>

