@using Theater_hotspot.Databases
@model Voorstelling
@{
    ViewData["Title"] = "Voorstellingen";
}

<div class="voorstellinginfo">
   <div class=titel>
        <h1>@Model.Titel</h1>
   </div> 

    <p>@Model.Beschrijving</p>
        <div class="info">
            <p>@Html.Raw(Model.Informatie)</p>
        </div>
         <div class="afbeelding" style="background-image:url(@Model.Plaatje)"></div>
    <p>@Model.Volgendedatum</p>
    <p>@Model.Einddatum</p>
     
</div>

