@using Theater_hotspot.Databases
@model Voorstelling
@{
    ViewData["Title"] = "Voorstellingen";
}


<h1>@Model.Titel</h1>
<p>@Model.Beschrijving</p>
<p>@Model.Informatie</p>
<p>@Model.Plaatje</p>
<p>@Model.Volgendedatum</p>
<p>@Model.Einddatum</p>
     
